/* ! list.html列表页专有的css */

.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    height: 32px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0 15px;
}


/* ? nav导航栏模块制作 start */

.nav {
    overflow: hidden;
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.sk_con {
    float: left;
}

.sk_con ul li {
    float: left;
}

.sk_con ul li a {
    display: block;
    /* 行高大于高度，文字偏下 */
    line-height: 49px;
    padding: 0 23px;
    font-size: 14px;
}


/* 把最后一个li选出，给li里面的a指定after伪元素 */

.sk_con ul li:last-child a::after {
    content: '\e916';
    font-family: 'icomoon';
}


/* ? nav导航栏模块制作 end */


/* ? 列表页主体部分 start */

.sk_hd {
    text-align: center;
}

.sk_bd ul li {
    float: left;
    margin-right: 13px;
    width: 290px;
    height: 460px;
    overflow: hidden;
    /* 鼠标经过显示边框，会使盒子向下抖动1px距离。故一开始给盒子设置一个透明边框 */
    border: 1px solid transparent;
}

.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}

.sk_bd ul li:hover {
    border: 1px solid #c81523;
}

.sk_bd ul li h4 {
    margin: 0 12px;
    font-size: 14px;
    font-weight: 400;
}

.sk_bd ul li p {
    margin: 7px 12px 0;
    font-size: 22px;
    color: #e60012;
    font-weight: 700;
}

.sk_bd ul li p span,
del {
    font-size: 14px;
}

.sk_bd ul li p del {
    color: #ababab;
}

.sk_bd ul li>div {
    margin: 5px 12px 0;
    font-size: 14px;
}

.sk_bd ul li div .bar {
    display: inline-block;
    width: 132px;
    height: 12px;
    border: 1px solid #ed282e;
    border-radius: 5px;
}

.sk_bd ul li div .bar .bar_in {
    width: 115px;
    height: 10px;
    background-color: #ed282e;
}

.sk_bd ul li>div span {
    color: #ed282e;
}

.sk_bd ul li a {
    display: block;
    margin-top: 10px;
    height: 50px;
    width: 288px;
    color: #fff;
    font-size: 20px;
    background-color: #b1191a;
    text-align: center;
    line-height: 50px;
}


/* ? 列表页主体部分 end */